@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Libre+Caslon+Display&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* button */
.batton {
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.batton > .svg {
  transition: all 0.4s ease-in;
}

.batton:hover > .svg {
  transform: translateX(10px);
}

.batton:hover {
  transform: translateY(2px);
}

.swiper {
  width: 70%;
  height: 70%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
